services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    image: org-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - postgres

  client:
    container_name: client
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    image: org-client
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - api

  postgres:
    container_name: database
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local
